<nav class="navbar navbar-expand-lg bg-primary header">
    <div class="container-fluid header">
        <a class="navbar-brand" routerLink="/">ZenduForms</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <mat-nav-list class="nav-list"></mat-nav-list>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item title-group">
                    <a class="nav-link" routerLink="/forms">
                        <i class="material-icons">list</i>
                        Forms
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/customers">
                        <i class="material-icons">group</i>
                        Customers
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/submissions">
                        <i class="material-icons">graphic_eq</i>
                        Submissions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/histories">
                        <i class="material-icons">history</i>
                        History
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reports">
                        <i class="material-icons square_icon">bar_chart</i>
                        Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/workflow">
                        <i class="material-icons square_icon">bar_chart</i>
                        WorkFlow
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <div class="row">
                    <div class="col">
                        <a class="nav-link">
                            <i class="material-icons">notifications</i>
                        </a>
                    </div>
                    <div class="col">
                        <a class="nav-link">
                            <i class="material-icons">logout</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>